/* GLOBAL */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFF7F0; 
    color: #3A2D28;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* HEADER */
header {
    background-color: #E8D5C4;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.logo {
    font-family: "Anton", sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    color: #2d2d2d;
}


nav a {
    margin: 0 18px;
    font-size: 16px;
    font-weight: 500;
}

nav a:hover {
    color: #A47551;
    transition: 0.3s;
}

/* BUTTON */
.btn {
    padding: 12px 25px;
    background-color: #A47551;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #8C5E40;
    transition: 0.4s;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 55px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.hero-img {
    width: 45%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* SECTION BASE */
.section {
    padding: 80px 50px;
    text-align: center;
}

/* ABOUT */
.about-content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.about-content img {
    width: 40%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.about-text {
    width: 45%;
    font-size: 18px;
    line-height: 1.7;
}

/* CONTACT */
.contact-box {
    background-color: #E8D5C4;
    padding: 40px;
    border-radius: 12px;
    width: 60%;
    margin: 40px auto;
    font-size: 18px;
}

/* FOOTER */
footer {
    padding: 20px;
    background-color: #DCC5B2;
    text-align: center;
    margin-top: 50px;
}
